{% extends "base.html" %}
{% load static %}

{% block title %}
    My blog
{% endblock %}

{% block css_files %}
    <link rel="stylesheet" href="{% static "blog/post.css" %}"/>
    <link rel="stylesheet" href="{% static "blog/index.css" %}"/>
{% endblock %}

{% block content %}

    <section id="welcome">
        <header>
            <img src="{% static 'blog/images/horse.jpg' %}" alt="Horse - the author of this blog."/>
            <h2>HORSE BLOG</h2>
        </header>
        <p>Hi, I am Horse and I love to blog about the world.</p>
    </section>

    <section id="latest-posts">
        <h2>My Latest Thoughts</h2>
        <ul>
            {% include "blog/includes/post.html" %}
        </ul>
    </section>

    <section id="about">
        <h2>What I do?</h2>
        <p>I love to help others and I enjoy exploring something new!</p>
    </section>
{% endblock %}