{% extends "base.html" %}
{% load static %}

{% block title %}
    Sign Up
{% endblock %}

{% block css_files %}
    <link rel="stylesheet" href="{% static "blog/signup.css" %}"/>
    <link rel="stylesheet" href="{% static "blog/index.css" %}"/>
{% endblock %}

{% block content %}

    <section id="welcome">
        <header>
            <h2>Sign Up</h2>
        </header>
    </section>

    <section id="latest-questions">
        <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Sign Up</button>
        </form>
    </section>
{% endblock %}

