{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'app.css' %}"/>
    {% block css_files %}{% endblock %}
</head>

<body>
    <header id="main-navigation">
        <h1><a href="{% url "starting-page" %}">Homepage</a></h1>
        <nav>
            {% if user.is_authenticated %}
                <a>Hello, {{ user.username }}!</a>
                <a href="{% url 'logout' %}">Logout</a>
            {% else %}
                <a href="{% url 'rest_framework:login' %}">Log in</a>
                <a href="{% url 'signup' %}">Sign up</a>
            {% endif %}
            <a href="{% url "read-later-page" %}">Starred techniques</a>
            <a href="{% url "posts-page" %}">All techniques</a>
        </nav>
    </header>

    {% block content %}
    {% endblock %}

</body>

</html>
